.header-baner{
       height: auto; 
      background-size: cover;
      background-repeat: no-repeat;
      background: url(../assets/imagenes/fondoBanner1.jpg)
    section{
      min-width: 1000px;
      margin: auto;
      padding:30px 0px; 
    }
   }