//se uso @use en lugar de @import

@use "nav-bar";
@use "formulario";
@use "footer";
@use "cards";
@use "variables";
@use "header-baner";
@use "baner-productos";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






